html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-size: 4rem;
  color: #fff;
  margin: 0;
  display: inline;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  overflow: hidden;
  max-height: 500px;
  position: relative;
}

p {
  font-style: italic;
  margin: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  font-size: 2rem;
  min-width: 500px;
  line-height: 1.4;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.body-banner {
  position: absolute;
  max-height: 500px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 750px;
  min-width: 600px;
  bottom: 15px;
}

span {
  background-color: rgba(0, 0, 0, .5);
}

body {
  margin: 0;
}
