html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner-label {
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  margin: 9rem;
  padding: .3rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);


}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  overflow: hidden;
  max-height: 500px;
  position: relative;;
}

p {
  font-style: italic;
  margin: 6rem;
  padding: .3rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
